@font-face {
    font-family: 'Damion';
    src: url('Damion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato L';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato R';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato B';
    src: url('Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #81a156;
}

.logo {
    margin-top: -17px;
    margin-left: 307px;
    font-size: 41px;
    font-family: 'Damion';
}

h1 {
    font-family: 'Lato L';
}

.work-description {
    font-family: 'Lato R';
}

nav {
    z-index: 5;
    position: absolute;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

